@use '../.././variables'as v;

    .card {
        position: relative;
        max-width: 268px;
        overflow: hidden;
        margin: 15px 15px;
        background: rgba(0, 0, 0, .4);
        border-radius: 11px;
        border: 1px solid rgba(255, 255, 255, .4);
        color: v.$text-color;
        transition: all 0.2s;
        overflow: hidden;
        cursor: pointer;


        .name {
            padding: 5px 8px;
            margin-bottom: 8px;
            letter-spacing: -.04em;
            font-weight: 300;
            font-size: 15px;
            min-height: 60px;
        }

        .price {
            padding: 0 8px;
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 17px;
        }

        .toCart {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .3s;
            padding: 7px 12px 4px;
            background: v.$hover-color;
            border-radius: 10px;
            color: v.$input-text-color;
            font-weight: 500;
            cursor: pointer;

        }

        .iconFavorite {
            position: absolute;
            z-index: 10;
            top: 15px;
            left: 210px;
            cursor: pointer;
            color: v.$icon-main-color;
        }

        .toCart:hover{
            background: v.$icon-main-color;
            
        }
        .iconFavorite:hover{
            color: v.$hover-color;
        }

        .active{
            .toCart {
                display: none;
            }
    
            .iconFavorite {
                position: absolute;
                z-index: 10;
                top: 15px;
                left: 210px;
                cursor: pointer;
                color: v.$hover-color;
            }
        }

    }

    .card:hover {
        border-radius: 11px;
        border: 1px solid v.$hover-color;
        cursor: default;
    }
