@use '../../variables'as v;

.header {
    display: flex;
    align-items: center;
    padding: 30px;
    width: 1700px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    .logo {
        margin-left: 80px;

        h1 {
            font-weight: 500;
            cursor: pointer;
        }
    }

    .search {
        margin-left: 15%;

        form {
            position: relative;

            input {
                background: v.$input-color;
                border-radius: 35px;
                border: 0;
                padding: 8px 26px;
                color: v.$text-color;
                width: 700px;
                height: 40px;
                font-size: 16px;
                transition: all 0.2s;
                padding-right: 40px;
            }

            input:focus {
                background: v.$input-hover-color;
                color: v.$input-text-color;
                outline: none;
            }

            .searchBtn {
                position: absolute;
                top: 10px;
                right: 15px;
                cursor: pointer;
                color: v.$btn-color;
            }

            .searchBtn:hover {
                color: v.$btn-second-color;
            }
        }

    }
    .favorite {
        margin-left: 250px;

        .icon {
            color: v.$icon-main-color;
            cursor: pointer;
        }
    }

    .cart {
        margin-left: 50px;
        position: relative;
        .cartIcon {
            color: v.$icon-main-color;
            cursor: pointer;
        }
        span {
            top: 10px;
            position: absolute;
            font-size: 12px;
            color: v.$text-second-color;
        }
    }
}