$backround-color:#141111;
$text-color: #fff;
$hover-color:#fbbb43;
$text-second-color:#fbbb43;
$btn-color:#ccc;
$btn-second-color:rgb(107, 107, 107);
$input-color:linear-gradient(0deg,rgba(255,255,255,.3),rgba(255,255,255,.3));
$input-hover-color:#fff;
$input-text-color:black;
$input-focus-color: #fff;
$icon-main-color:#fff;