$backround-color:#141111;
$backround-second-color:black;
$text-color: #fff;
$hover-color:#fbbb43;
$text-second-color:#fbbb43;
$btn-color:#ccc;
$btn-second-color:rgb(107, 107, 107);
$input-color:linear-gradient(0deg,rgba(255,255,255,.3),rgba(255,255,255,.3));
$input-hover-color:#fff;
$input-text-color:black;
$input-focus-color: #fff;
$icon-main-color:#fff;
$opacity-line-color:rgba(255,255,255,.2);
$line-color:rgba(255,255,255,.5);
$backround-popup-color:black;
$border-line: rgba(255, 255, 255, .4);